.cart-header,.cart-data{
    border-bottom:1px solid #eaeaea;
}


.cart-header h4{
    font-size: 13px;
    color: var(--color-777777);
}
.cart-col-1{
    width: 40%;
}
.cart-col-2{
    width: 15%;
}
.cart-col-3{
    width: 20%;
}
.cart-col-4{
    width: 25%;
}
.cart-col-1 p{
    color: var(--color-777777);
    font-size: 14px;
}
.cart-data h5 .price{
    color: var(--color-1c1c1b);
    font-size: 14px;
}


/* checkout page  start*/

 
.total{
    font-size: 14px;
    color: var(--color-1c1c1b);
}

.total-price{
    font-size: 16px;
    color: var(--color-777777);
}

/* checkout page end*/