.compare-product-card{
    padding: 20px 15px ;
    background-color: #fff;
    border-radius: 10px;
}
.cross{
    top: 10px;
    right: 10px;
    width: 25px;
    cursor: pointer;
    padding: 3px;
}
.compare-product-detail h5 .title{
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
    color: var(--color-1c1c1b);
    cursor: pointer;
}
.compare-product-detail h6 .price{
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
}
.compare-product-card .product-detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    border-top: 1px solid rgba(0,0,0,0.1);

}