.contact-inner-wrapper{
    padding: 30px 20px;
    border-radius: 15px;
    background-color: #fff;
    gap: 15px;
}
.contact-inner-wrapper>div{
    width: 50%;

}
.contact-title{
    font-size: 20px;
    font-weight: 500;
    line-height: 35px;
    margin-top: 0;
}
.contact-inner-wrapper form .form-controle{
    background-color: var(--color-f5f5f7);
    border-radius: 10px;
    border-color: transparent;
    padding: 15px;
}
.contact-inner-wrapper address,.contact-inner-wrapper a,.contact-inner-wrapper p{
    color: var(--color-3b4149);
    font-size: 15px;
}