
.main-banner-content{
    top: 15%;
    left: 5%;
}
.main-banner-content h4{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-bf4000);
    margin: 0 0 12px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}
.main-banner-content h5{
    font-size: 42px;
    line-height: 54px;
    letter-spacing: -2px;
    font-weight: 500;
    padding: 0;
    text-transform: none;
}
.main-banner-content p{
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.5;
    color: var(--color-131921);
}
.small-banner img{
    width: 300px;
    height: 193px;
}

.small-banner-content{
    top: 18%;
    left: 9%;
}
.small-banner-content h4{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-bf4000);
    margin: 0 0 12px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}
.small-banner-content h5{
    font-size: 22px;
    line-height: 34px;
    letter-spacing: -2px;
    font-weight: 500;
    padding: 0;
    text-transform: none;
}
.small-banner-content p{
    font-size: 14px;
    line-height:20px;
    letter-spacing: 0.5;
    color: var(--color-131921);
}



.home-wrapper-2{
    background-color: var(--color-f5f5f7);
  
}

.categories{
    background-color: #fff;
    box-shadow: 0 0 10px #0000001a;
    padding: 15px;
}
.categories>div{
    width: 25%;
    padding: 10px 10px 10px 20px;
}
.categories>div>div{
    width: 60%;
}
.categories>div:nth-child(1),
.categories>div:nth-child(2),
.categories>div:nth-child(3),
.categories>div:nth-child(4){
        border-bottom: 1px solid var(--color-ededed);
}

.categories>div:nth-child(1),
.categories>div:nth-child(2),
.categories>div:nth-child(3)
{
        border-right: 1px solid var(--color-ededed);
}
.categories>div:nth-child(5),
.categories>div:nth-child(6),
.categories>div:nth-child(7){
        border-right: 1px solid var(--color-ededed);
}
.section-heading{
    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 30px;
}